{% extends 'base.html' %}


{% block content %}


<section class="section mt-6  about_page has-background-dark">
    <div class="container">
       <h1 class="title has-text-centered has-text-white">About Us</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-7">
                <div class="box">
                    <p>
                        Lorem  cessitatibus  cumque provident voluptate nobis animi praesentium molestiae fuga laudantium laboriosam eius non. Molestiae ullam officia repellat earum debitis autem odit. Repellendus similique quis nulla soluta ipsum? Quod ipsa omnis error harum deserunt commodi possimus iste, sapiente nulla cum facilis tempora vitae pariatur odio repellat accusantium architecto dicta consequatur laudantium a dignissimos? Dicta veniam nobis non reiciendis fuga inventore possimus est consectetur, necessitatibus optio minus voluptatum earum quidem quis molestias ullam, quam distinctio itaque repudiandae, impedit obcaecati sequi voluptate accusamus provident.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer has-background-dark">
    <div class="container">
        <div class="content  has-text-centered has-text-white">
            <h1 class="title has-text-white">This is the footer</h1>
        </div>
    </div>
</footer>
{% endblock content %}